*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body
{
  background-color: white;
  min-height: 100vh;
}
.titleSection
{
    margin: 30px;
    text-align: center;
}
header
{
    background-color: #222;
    color: aqua;
    padding: 20px;
    font-size: 20px;
}

section
{
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    min-width: 360px;
    padding: 20px;   
}
section h1
{
    margin-bottom: 10px;
    background-color: #222;
    color: aqua;
    padding-left: 10px;
}
section p
{
    padding: 10px;
}
footer
{
    margin-top: 162px;
    background-color: #222;
    color: aqua;
    padding: 40px;
    text-align: center;
}
.section2
{
    min-height: 64vh;
}
.article
{
    margin-top: 20px;
}
