<h1 class="titleSection">Confira nossos acessórios</h1>

{{#each itens}}
    <section>
        <h1>{{title}}</h1>
        <p>{{body}}</p>
        <p><a href="/product/{{this.id}}">Confira aqui o produto</a></p>
    </section>
{{/each}}