<section class="section2">
    <a href="/">Voltar</a>
    <div class="article">
        <h1>{{product.title}}</h1>
        <p>Categoria:{{product.category}}</p>
        <p>{{product.body}}</p>
        <p class="money">R${{product.price}}</p>
    </div>
</section>