<h1>Olá HandleBars</h1>
{{#if auth}}
    <p>Parabés !!! você está autenticado</p>
{{else}}
    <p>O seu cadastro precisa ser aprovado</p>
{{/if}}
<p>O nome do usuario é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos</p>
{{#if auth}}
    <p><a href="/dashboard">Clique aqui</a> para acessar o lobby</p>
{{/if}}

